body{
  display: block;
  background-color: aqua;
}

.main-container{
  width: 100vw;
  height: 95vh;
  padding: 45px 80px 60px 45px;
  background-color: blue;
  display: flex;
}

.leftSide{
flex-basis: 50%;
background-color: blueviolet;
margin-bottom: 10px;
display: flex;
flex-direction: column;
}

.rightSide{
  flex-basis: 50%;
  background-color: red ;
  }

  .leftSideHeader{
    flex-basis: 5%;
    background-color: azure;
  }

  .vehicleFeaturesList{
    flex-basis: 80%;
    background-color: rgb(228, 45, 170);
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .img_container{
  height: 100%;
  width: 100%;
  }

  img{
    height: 100%;
    width: 100%;
  }