body{
  display: block;
}

.main-container{
  width: 88vw;
  height: 80vh;
  margin-top: 60px;
  padding: 45px 75px 45px 116px;
  display: flex;
}

.leftSide{
flex-basis: 50%;
background-color: white;
margin-bottom: 10px;
display: flex;
flex-direction: column;
color: #555;
}

.rightSide{
  flex-basis: 50%;
  }

  .leftSideHeader{
    flex-basis: 5%;
  }

  .vehicleFeaturesList{
    width: 60%;
    padding-left: 50px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .vehicleFeaturesList::-webkit-scrollbar{
    display: none;
  }

  .up_down{
    display: flex;
    flex-direction: column;
  }

  .button {
    border-radius: 50%;
    width: 30px;
    height: 60px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover{
    background-color: #555
  }


  .img_container{
  height: 100%;
  width: 100%;
  }

  img{
    height: 100%;
    width: 100%;
  }

  .item_discription{
    font-size: 25px;
    line-height: 24px;
  }

  .up_arrow{
    height: 80%;
  }

  .navigation_bar{
    display: flex;
    height: 15px;
  }

  .progress_container{
    margin-left: 10px;
    margin-top: 20px;
  }

  .progress_bar_container{
    height: 100px;
    width: 20px;
    margin-top: 40px;
    margin-right: 20px;
  }

  .progress_bar{
    border-left: 3px solid;
  }
.bar_and_discription{
  display: flex;
}